<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="aimlBotConfig" type="SimpleConfig.Section, SimpleConfig"/>
  </configSections>
  <aimlBotConfig settingsPath="AIML/config/Settings.xml">
    <startTriggers>
      <trigger Partial="true" CaseSensitive="false" Text="Hey Bot"></trigger>
      <trigger Partial="true" CaseSensitive="false" Text="Hey, Bot"></trigger>
      <trigger Partial="false" CaseSensitive="true" Text="Bot!"></trigger>
      <trigger Partial="false" CaseSensitive="false" Text="hola"></trigger>
    </startTriggers>
    <stopTriggers>
      <trigger Partial="true" CaseSensitive="false" Text="Quiet, Bot"></trigger>
      <trigger Partial="false" CaseSensitive="false" Text="We're done here"></trigger>
      <trigger Partial="true" CaseSensitive="true" Text="Stop Talking"></trigger>
    </stopTriggers>
  </aimlBotConfig>
</configuration>